[Desktop Entry]
Version=1.0
Type=Application
Name=Red Eclipse server
GenericName=First-person shooter game server
Comment=Host your own server for Red Eclipse
Exec=redeclipse-server
TryExec=redeclipse-server
Icon=redeclipse
Terminal=true
Categories=Game;ActionGame;
StartupNotify=true
