[Desktop Entry]
Version=1.0
Type=Application
Name=Red Eclipse
GenericName=First-person shooter game
Comment=First-person shooter with agile gameplay and built-in editor
Exec=redeclipse
TryExec=redeclipse
Icon=redeclipse
Terminal=false
Categories=Game;ActionGame;
StartupNotify=true
Keywords=fps;action;multiplayer;play;arena;mapeditor;
